node_modules
**/node_modules

dist
**/dist
out
**/out

*.log
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
.dockerignore
.git
.gitignore

README.md
.env
.env.* 
.vscode
.idea
.DS_Store

.pnpm-store
